/*
	Jonathan Dalrymple
*/

fieldset{
	width:80%;
}
#content{
	text-align:center;
	width: 80%;
	margin: 0 auto;
}
.question.view{
	width:70%;
	margin: auto;
}
.question.view h2{
	font-size:138%;
	margin: 1em 0;
}
.question.view legend{
	color:#fff !important;
}
.question.view fieldset label{
	float:left;
	width: 70%;
}
.question.view fieldset input{
	float:left;
	width:29%;
}

dl dt.correct, dl dt.wrong{
	display:block;
	margin: 0.25em;
	color:#fff;
	padding:0.5em;
}
dl dt.correct{
	background: green;
}
dl dt.wrong{
	background: red;
}
dl dd li{
	margin: 0.5em 2em 0.5em;
	display:block;
	padding:0.5em;
}
dl dd li.user-answer{
	background: #d6f83a;
	font-weight:bold;

}
dl dd li.correct{
	background: green;
	color:#fff;
}